.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: lem;

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.item {
    height: 100px;
    width: 100px;
    padding: 2em;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}